# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Cache do pytest
.pytest_cache/

# Ambientes virtuais
venv/
env/
.venv/
.env/

# Arquivos de log
*.log

# Arquivos temporários do sistema
*.tmp
*.swp
.DS_Store

# Configurações locais de IDE
.vscode/
